html{
    height: 100vh;
}
body{
    background-color: #34373a;
    background-image: url(../image/restaurante.png);
    background-size:cover;
    background-repeat: no-repeat;
    /*background-position:center;*/
    background-attachment: fixed;
    height: 100%;
}
.container{
    margin: 0 auto;
    width: 1024px;
}
header{
    height: 118px;
    text-align: center;
}
nav{
    background-color: rgba(0, 0, 0, 0.536);
    text-align: center;
    padding: 14px 0px;
}
nav a{
    text-decoration: none;
    font-size: 12px;
    padding: 0px 14px;
}
main{
    height: 400px;
    text-align: center;
    padding: 40px 240px 0px 240px;
}
footer{
    background-color: rgba(0, 0, 0, 0.774);
    padding: 50px 0px;
    text-align: center;
}
h1, p, a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-size: 70px;
}
p{
    font-size: 18px;
}
footer p{
    font-size: 10px;
}
.map{
    padding-bottom: 100px;
}